header {
    nav {        
        padding: 50px 185px 0;        
    }    
}

@media (max-width: 785px) {
    header {
        nav {        
            padding: 50px 10% 0;
            display: flex;
            justify-content: center;
        }    
    }
}