footer {
    min-height: 150px;
    padding: 50px 0 20px;
    ul {
        justify-content: center;
        a {
            color: black;
            &:hover {
                border-bottom: black solid 1px;
            }
        }
    }
    .beans-divider {
        margin-top: 30px;
    }
}