.about-us {
    text-align: center;
    padding-bottom: 100px;
    p {
        width: 589px;
        margin: 40px auto 0;
    }
}

@media (max-width: 785px) {
    .about-us {
        p {
            width: 80%;
        }
    }
}